extends layout

block content
  //h1(style = "text-align: center;")= title
  center
    a(href='/home')
      img.logo(style="vertical-align:middle", src="https://camo.githubusercontent.com/26fd29fa735e3060c1ec0a480a0605ef059b6ddb/68747470733a2f2f73636f6e74656e742e66616570382d322e666e612e666263646e2e6e65742f762f7433342e302d31322f32333834353332325f31303231353433363834303832313232395f323036323232353533325f6e2e706e673f6f683d6439303563663566333138346230336534353961643130643164363234653165266f653d3541313734354532" alt="tipit-logo")
    h1 Welcome to #{title}
