extends t-layout

block content

    h1 Jugador: #{player.name}
    img(width="100", height="100", src=player.image_url)
    p #{player.date_of_birth}

    hr
    p
        a(href=player.url + '/delete') Delete player